

.profile {
    display: flex;
    align-items: center;

    img{
        border-radius: 100px;
        border: 1px solid var(--gray-20);;
    }

    .profileInfo {
        margin-left: 1rem;
        span{
            display: flex;
            align-items: center;
            padding-bottom: 2px;
            font-size: 0.75rem;
            svg{
                color: var(--purple-100);
                margin-right: 5px;
            }
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}